body * {
  box-sizing: border-box;
}

main {
  height: unset;
}

section {
  text-align: center;
}

h2 {
  margin-bottom: 3%;
  font-size: 50px;
  font-weight: 650;
}

p {
  margin-inline: 70px;
  font-size: 25px;
}

.next-btn {
  background-color: #00ffff;
  padding: 1rem 3rem;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 0px 20px #00ffff;
}

#commentInput {
  border: none;
  width: 77%;
  margin-block: 6%;
  border-bottom: 1px solid #c2128d;
  background-color: transparent;
  height: 2rem;
  color: white;
}

#commentInput::placeholder {
  font-size: 15px;
  padding-left: 15px;
}

#ratingStars {
  margin-block: 4% 9%;
}

.star {
  display: inline-block;
  color: #17163d;
}

.starActive {
  color: #00ffff;
}
