/* file per css generale */
body {
  margin: 0 auto;
  max-width: 800px;
  background-color: #0c113b;
  background-image: url("../imgs/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
