.container {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

/* .logo {
  width: 120px;
  text-align: right;
} */

.timer {
  width: 100px;
  height: 100px;
  top: 20px;
  right: 20px;

  border-radius: 50%;
  border: 6px solid #00e5ff;

  padding-top: 18px;
  box-sizing: border-box;
}

.timer span {
  display: block;
  font-size: 32px;
  margin-bottom: 5px;
}

.timer p {
  font-size: 10px;
}

h1 {
  margin-top: 160px;
  margin-bottom: 40px;

  padding: 0 20px;

  font-size: 36px;
}

h1 span {
  font-weight: bold;
}

.answers {
  width: 100%;
  margin: 0 auto;
}

.answer {
  width: 320px;

  margin: 12px;
  padding: 15px 20px;

  border-radius: 30px;
  border: 2px solid white;

  background-color: transparent;
  color: white;

  font-size: 16px;
  cursor: pointer;
}

.correct {
  background-color: #00c853;
  border-color: #00c853;
}

.wrong {
  background-color: #d50000;
  border-color: #d50000;
}

.progress {
  margin-top: 50px;
  font-size: 14px;
}
