@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

body {
  margin: 0 auto;
  max-width: 800px;
  background-color: #0c113b;
  background-image: url("../imgs/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}

h1 {
  font-size: 68px;
  line-height: 3.25rem;
  margin-top: 5rem;
}

h1 span {
  font-weight: 800;
}

h3 {
  color: #d20094;
  font-size: 32px;
  font-weight: 600;
}

.next-btn {
  background-color: #00ffff;
  padding: 1rem 3rem;
  border: none;
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-size: 20px;
  box-shadow: 0px 0px 20px #00ffff;
}
