body {
  width: 80%;
  margin-inline: auto;
}
header img {
  width: 15%;
  padding-top: 5%;
}
header div {
  border: 2px solid white;
  width: 12%;
  border-radius: 50%;
  text-align: center;
  float: right;
  margin-top: 5%;
}
header div h1 {
  margin-block: -10%;
}
header div p {
  opacity: 0.8;
}
header div h1 {
  font-size: 290%;
}
main {
  margin-top: 15%;
}
main h2 {
  text-align: center;
}

h3 {
  color: white;
}
#answers {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#answers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  border: 4px solid transparent;
  background: linear-gradient(172deg, rgba(36, 42, 79, 1) 0%, rgba(47, 42, 89, 1) 100%) padding-box,
    linear-gradient(175deg, rgba(246, 246, 248, 1) 0%, rgba(47, 42, 89, 1) 100%) border-box;
  border-radius: 60px;
  text-align: center;
  height: 80px;
  margin-bottom: 2em;
  font-size: 150%;
  font-weight: 600;
}

#answers div:hover {
  background: linear-gradient(180deg, #be008c 0%, #8d007a 100%) padding-box, linear-gradient(175deg, rgba(246, 246, 248, 1) 0%, #b91592 100%) border-box;
}
.purple-text {
  color: blueviolet;
}
#qCounter {
  text-align: center;
  margin-top: 10%;
}

#qCounter h3 {
  color: #ebe7ef;
}

#footerNumber {
  color: #b51289;
}

#qCounter #footerNumber,
h3 {
  font-size: 21px;
  letter-spacing: 4px;
}

.type-of-question-section {
  display: flex;
  justify-content: space-between;
}
#typeOfQuestionText {
  margin-block: auto;
}
