.main-text h3 {
  margin-bottom: 0;
}

.main-text p {
  width: 70%;
  margin-top: 10px;
}

h1 {
  margin-top: 5rem;
  line-height: 3rem;
}
ul {
  margin-block: 3rem;
}

li {
  line-height: 1.75rem;
}

label input[type="checkbox"] {
  background-color: none;
}

footer {
  display: inline-block;
}

form {
  display: flex;
  justify-content: space-between;
}

form span {
  margin-block: auto;
  font-weight: 600;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
